<template name="Users">
  <div class="page lists-show">
    <!-- <nav class="js-title-nav">
      <h1 class="js-edit-list title-page">
        <span class="title-wrapper">Title: User Name</span>
        <span class="count-list">10</span>
      </h1>

      {{> ConversationReply}}

    </nav> -->

    <div class="content-scrollable list-items">
      <ul>
         {{#each users}}
           <li name="user">
              <a class="user" href='#'>
               {{username}}
             </a>
           </li>
         {{/each}}
       </ul>
    </div>

  </div>
</template>
